{% extends "base.html" %}

{% block title %}{{ book.title }} | Reading Compass{% endblock %}

{% block content %}
<article class="detail-card">
    <span class="status status-{{ book.status }}">{{ book.get_status_display }}</span>
    <h1>{{ book.title }}</h1>
    <p class="detail-author">by {{ book.author }}</p>

    <dl class="metadata">
        <div>
            <dt>Total pages</dt>
            <dd>{{ book.total_pages|default:"Not recorded" }}</dd>
        </div>
        <div>
            <dt>Last updated</dt>
            <dd>{{ book.updated_at|date:"j M Y, H:i" }}</dd>
        </div>
    </dl>

    <div class="actions">
        <a class="primary-button" href="{% url 'book-edit' book.pk %}">Edit book</a>
        <a class="danger-link" href="{% url 'book-delete' book.pk %}">Delete book</a>
        <a class="text-link" href="{% url 'book-list' %}">Back to my books</a>
    </div>
</article>
{% endblock %}

